<style>
    :root {
        /* Primary theme color */
        --primary-color: #212127;
        /* Primary theme text color */
        --primary-text-color: #ee521b;
        /* Primary theme link color */
        --primary-link-color: #ee521b;
        /* Secondary color: the background body color */
        --secondary-color: #ffffff;
        --secondary-text-color: #212127;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #ee521b;
    }
    .logo img {
        width:auto !important;
    }
    .nav-item:hover {
        color:#ffffff !important;
    }
</style>
