{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
    <link rel="icon" type="image/png" href="/favicon-orientdb.png">
    {% endblock favicon %}
    {% include "_variables.html" %}
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                OrientDB Document & Graph Database
            </h1>
            <h3 class="title-text">
                <b>OrientDB</b> is the first multimodel database in the world
            </h3>
            <div>
                <a class="github-button" href="https://github.com/orientechnologies/orientdb" data-size="large" data-icon="octicon-start" data-show-count="true"
                   data-color-scheme="no-preference: dark_high_contrast; light: dark_high_contrast; dark: dark_high_contrast;" aria-label="Star OrientDB on GitHub">Star</a>
                <a class="github-button" href="https://github.com/orientechnologies/orientdb/issues"  data-color-scheme="no-preference: dark_high_contrast; light: dark_high_contrast; dark: dark_high_contrast;"
                   data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue OrientDB on GitHub">Issue</a>
                <a class="github-button" href="https://github.com/orientechnologies/orientdb/discussions" data-color-scheme="no-preference: dark_high_contrast; light: dark_high_contrast; dark: dark_high_contrast;"
                   data-icon="octicon-comment-discussion" data-size="large" aria-label="Discuss OrientDB on GitHub">Discuss</a>
            </div>
            <!-- Place this tag where you want the button to render. -->
        </section>
        <img class="hero-image" style="width: 50%" src="{{ get_url(path="home_logo.png") }}">

        <div class="explore-more title-text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
    </div>

    {% endblock header %}

    <main>
        <div class="content text">
            {% block content %}
            <div id="features" class="heading-text">Overview</div>
            {{ section.content | safe }}
            {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock %}
    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            <a href="https://orientdb.dev">OrientDB.dev</a>
            <a rel="me" href="https://fosstodon.org/@orientdb">Mastodon</a>
            <a href="https://matrix.to/#/#orientdb:matrix.org">Matrix Chat</a>
        </small>
        <img referrerpolicy="no-referrer-when-downgrade" src="https://tglman.org/OrientDB/matomo.php?idsite=7&amp;rec=1" style="border:0" alt="" />
    </footer>
    {% endblock footer %}
</body>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

</html>
