{% extends "index.html" %}

{% block title %}{{ section.title }} | {{ super() }} {% endblock title %}

{% block header %}
{% include "_macros.html" %}
<header class="box-shadow">
    {{<render_header config={config} />}}
</header>
{% endblock header %}

{%block content%}
    <h1 class="heading-text" >{{ section.title }}</h1>

    <ul>
        {% for page in paginator.pages %}
        <li><a href="{{ page.permalink }}">{{page.title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock content%}

