on: push
name: Build and deploy on push
jobs:
  build:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: 'custom deploy'
      uses: './.github/action/'
      env:
        PAGES_BRANCH: gh-pages
        BUILD_THEMES: false
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
